*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li{
    list-style: none;   
}

a{
    text-decoration: none;
}



.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
}



.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}


/* Header */

.header {
    padding-top: 26px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76px;
}




/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #333333;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link:hover{
    color: #8F49A0;
}


/* Header content */

.header-row {
    display: flex;justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}

.header-content p {
    line-height: 2;
}

.btn_login a{
    background: #78258D;
    border-radius: 8px;
    padding: 12px 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.btn_whome a:hover{
    background: #af02da;
    transition: .3s;
}



.hero{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


.go{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #2E90D1;
}

.hero_img{
    width: 630px;
}

.h1_hero{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.01em;
    color: #232323;
    width: 500px;
    margin-top: 15px;
}

.prg_hero{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #828282;
    width: 451px;
    margin-top: 20px;
}

.btn_hero a:hover{
    background: #af02da;
    transition: .3s;
}

.btn_hero a {
    background: #78258D;
    border-radius: 8px;
    padding: 18px 28px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 40px;
}

.course, .whome_content, .why_content, .How_it_works{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.block_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_title h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #232323;
    width: 530px;
}

.btn_course a{
    border: 1px solid #78258D;
    border-radius: 8px;
    padding: 12px 16px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #78258D;
}

.course_list{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 20px;
}

.German_card{
    background: #DEF1FF;
    border-radius: 10px;
    padding: 40px;
    width: 453px;
    height: 100%;
}

.title_curse h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: #232323;
    margin-top: 20px;
}

.time_course{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #585858;
}

.time_course span{
    color: #333333;
    font-weight: 700;
}

.modules{
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #585858;
}

.modules span{
    color: #333333;
    font-weight: 700;
}

.about_price{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_block{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.price{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113%;
    text-align: right;
    color: #333333;
}

.Сhina{
    background: #FDEDE4;
}

.whome_content{
    display: flex;
    justify-content: space-between;
}

.whome_title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.01em;
    color: #232323;
    width: 300px;
}

.whome_title span{
    background: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.prg_whome{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #585858;
    width: 400px;
    margin-top: 27px;
}


.btn_whome a{
    background: #78258D;
    border-radius: 8px;
    padding: 18px 28px;
    position: absolute;
    margin-top: 40px;
    color: #FFFFFF;
}


.card_adv{
    padding: 20px;
}


.card_lern{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-left: 45px;
}

.tite_ovg{
    margin-top: 16px;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #232323;
}

.txt_cont_p{
    margin-top: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #585858;
    width: 314px;
}


.title_why_center{
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
}


.how_it_work_h1{
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
}


.base p{
    background: #2E90D1;
    border-radius: 100px;
    padding: 4px 20px;
    width: 60px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}

.description{
    margin-top: 35px;
}

.dsc_h1 h1{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #232323;
}
 

.banner_cont{
    background: #EFEFFF;
    border-radius: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


.banner_section{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.news{
    background-color: #fff;
    border: 1px solid #EFEFFF;
    box-shadow: 0px 4px 20px #F7F6FB;
    border-radius: 20px;
}


.reg_h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #232323;
    width: 560px;

}


input{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 18px;
    width: 400px;
    outline: none;
    border: none;
}

.banner_section{
    display: flex;
    justify-content: space-between;
}


.input_container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}


.btn_input a{
    background: #78258D;
    border-radius: 8px;
    padding: 12px 20px;
    color: #FFFFFF;
}

.politic{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #828282;
    width: 561px;
    margin-top: 25px;
}

.politic span{
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #2E90D1;
}


.date p{
    color: #2E90D1;
    margin-top: 6px;
}


.txt_card_dcrp p{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #585858;
    margin-top: 10px;
}


.brage_news p{
    background: #EFEFFF;
    border-radius: 4px;
    padding: 5px 20px;
}

.curst_txt h1{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #232323;
}


.German_card:hover{
    background: #DEF1FF;
    box-shadow: 0px 4px 20px rgba(228, 33, 37, 0.3);
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
}


.Spainish{
    background: #EFEFFF;
}

.Сhina:hover{
    background: #FDEDE4;
    box-shadow: 0px 4px 20px rgba(228, 33, 37, 0.3);
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
}

.Spainish:hover{
    background: #EFEFFF;
    box-shadow: 0px 4px 20px rgba(228, 33, 37, 0.3);
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
}

.title_curse h1:hover{
    color: #78258D;
    transition: .4s;
}


.footer{
    background: #641F76;
    margin-top: 60px;
}

.colons_container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
} 

.about{
    width: 292px;
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 30px;
}

.pay_content{
    display: flex;
    gap: 15px;
    margin-top: 31px;
}

.t1{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}


.footer_nav a{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 10px;
}

.social_media{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.news:hover{
    border: 1px solid #EFEFFF;
    box-shadow: 0px 4px 20px rgba(120, 37, 141, 0.3);
    border-radius: 20px;
    background: #FFFFFF;
}

.btn_input a:hover{
    background: #8F49A0;
    border-radius: 8px;
    transform: .8s;
}

.metodic_title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    width: 559px;
}

.metodic_title span{
    background: linear-gradient(132.51deg, #2E90D1 61.42%, #78258D 83.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.list_item{
    margin-top: 24px;
    margin-bottom: 15px;
}

.card_metodics{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.right_medotic p{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 560px;
}


.banner_2 {
    width: 420px;
}

.metodic_banner{
    background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
}

@media (max-width: 1230px) {
    .container {
        padding: 0 30px;
    }

	.nav-list {
		display: none;
	}

	.nav-button {
		display: block;
	}

	.nav.open .nav-list {
		position: fixed;
		top: 0px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index: 1;
		padding: 46px 30px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 20px;
        line-height: 26px;
        color: #232323;
	}

	.nav-button {
		position: absolute;
		z-index: 9;
		top: 46px;
		right: 30px;
	}

    .nav.open .nav-button {
        position: fixed;
    }

	.header-nav {
		margin-bottom: 50px;
	}

	.header-row {
		flex-direction: column;
		row-gap: 20px;
	}

	.header-content {
		margin-top: 0;
	}

	.header-img {
		text-align: center;
	}
}

@media (max-width: 820px) {

    .container {
        padding: 0 30px;
    }

    .hero{
        padding: 30px;
        align-items: self-end;
    }

    .h1_hero{
        width: 342px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #232323;
    }

    .prg_hero{
        width: 300px;
        font-size: 18px;
    }

    .course, .whome_content, .why_content, .How_it_works{
        padding: 30px;
    }

    .hero_img{
        width: 430px;
    }

    .block_title h1{
        font-family: '?????';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        width: 430px;
    }

    .course_list{
        flex-wrap: wrap;
    }

    .German_card{
        width: 100%;
    }

    .whome_content{
        flex-wrap: wrap;
    }

    .right_card_4{
        margin-top: 140px;
    }

    .card_lern{
        margin: 0;
    }

    .banner_img{
        display: none;
    }

    .banner_cont{
        width: 750px;
    }

    .colons_container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        display: grid;
        padding: 30px;
        grid-template-columns: inherit;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5.5em;
        flex-wrap: wrap-reverse;
        align-items: end;
    }
}

@media (max-width: 1200px) {

    .container {
        padding: 0 30px;
    }

    .hero{
        padding: 30px;
    }

    .h1_hero{
        width: 480px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #232323;
    }

    .prg_hero{
        font-size: 18px;
    }

    .course, .whome_content, .why_content, .How_it_works{
        padding: 30px;
    }

    .block_title h1{
        font-family: '?????';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        width: 430px;
    }

    .card_lern{
        gap: 0;
    }

    .banner_cont{
        max-width: 1100px;
    }

    .footer{
        padding: 30px;
    }

    
}

@media (max-width: 1024px) {

    .container {
        padding: 0 30px;
    }

    .hero{
        padding: 30px;
    }

    .h1_hero{
        width: 480px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #232323;
    }

    .prg_hero{
        font-size: 18px;
    }

    .course, .whome_content, .why_content, .How_it_works{
        padding: 30px;
    }

    .block_title h1{
        font-family: '?????';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        width: 430px;
    }

    .card_lern{
        gap: 0;
    }

    .banner_cont{
        max-width: 1100px;
    }

    .footer{
        padding: 30px;
    }

    .hero_img{
        width: 100%;
    }

    .course_list{
        flex-wrap: wrap;
    }

    .German_card{
        width: 100%;
    }

    .whome_content{
        flex-wrap: wrap;
    }

    .card_lern{
        margin: 0;
    }

    .right_card_4{
        margin-top: 250px;
    }

    .banner_cont {
        max-width: 980px;
    }

    .metodic_title{
        font-size: 35px;
        width: 500px;
    }

    .banner_2 {
        width: 300px;
    }

    .banner_section{
        padding: 30px;
    }

    .right_medotic p{
        font-size: 18px;
    }

    .banner_img{
        width: 300px;
    }

    input{
        width: 300px;
    }

    .colons_container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        display: grid;
        padding: 30px;
        grid-template-columns: inherit;
        grid-template-columns: 1fr 1fr;
        grid-gap: 150px;
        flex-wrap: wrap-reverse;
        align-items: end;
    }

    .card_lern {
        margin: 0;
        gap: 205px;
    }



    
}


@media (max-width: 480px) {
    .hero{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .left{
        margin-top: 30px;
    }

    .h1_hero{
        font-size: 35px;
        width: 100%;
    }

    .prg_hero{
        font-size: 16px;
        width: 100%;
        font-weight: 400;
    }

    .btn_hero a{
        width: 85%;
        text-align: center;
    }

    .hero_img{
        width: 100%;
    }

    .card_lern {
        margin: 0;
        flex-wrap: wrap;
        gap: 0;
    }


    .colons_container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 120px;
    }

    .footer{
        padding: 0;
    }

    .banner_cont {
        max-width: 100%;
        border-radius: 0;
    }

    .banner_img {
        display: block;
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .banner_section {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .metodic_title{
        font-size: 35px;
        width: 500px;
        margin-top: 90px;
    }
    
    .right_medotic p {
        font-size: 17px;
        width: 338px;
    }

    .banner_img_2{
        display: none;
    }

    .reg_h1 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 54px;
        letter-spacing: 0.01em;
        color: #232323;
        width: 444px;
    }

    .input_container {
        display: grid;
        gap: 40px;
        align-items: center;
        margin-top: 40px;
    }

    input {
        width: 77%;
        height: 50px;
    }

    .btn_input a {
        background: #78258D;
        border-radius: 8px;
        padding: 16px 129px;
        color: #FFFFFF;
    }

    .politic{
        margin-top: 40px;
        width: 481px;
    }

    .banner_cont {
        width: 89%;
        border-radius: 20px;
    }
}